<% provide(:title, "About") %>
<div class="container">
  <img alt: "pic" src="/assetsdaycarepic1.png" style="max-width:100%">
 
  <div class=".center">
    <p style="text-align:center">
    <br />
    <br />
    We are a day care facility in Philadelphia, PA that fosters nutrition and the importance of a holistic diet. We train parents on becoming better role models for their children as well as deliver assessments on each individual child to update parents on the progress of their well being. Your child will stay engaged through a variety of programs centered around exercising for a better tomorrow, reading is cool and understanding the value of potential.
    <br/>
    <br/>
    <b>WANT FREE CHILD CARE? ASK ABOUT OUR REFERRAL PROGRAM!</b>
    </p>
  </div>
</div>
  
  
