
<div style="margin-bottom:10px">

<% provide(:title, "About") %>

<%= image_tag 'team.jpg', :class => "img-responsive center-block" %>

</div>
<div class="container">
  <div class=".center">
    <p style="text-align:center">
    <br />

      <div class="col-md-4 ab">
        <h1>ASME HPVC</h1>

        <p align="center">Human-powered transport is often the only type available in underdeveloped or inaccessible parts of the world, and if well designed, can be an increasingly viable form of sustainable transportation.
          ASME's international Human Powered Vehicle Challenge (HPVC) provides an opportunity for students to demonstrate application of sound engineering design principles in the development of sustainable and practical transportation alternatives.In the HPVC, students work in teams to design and build highly
          engineered vehicles for everyday common use—from commuting to work to market.</p>
      </div>
      <div class="col-md-4 ab">
        <h1>D.T.U.</h1>
        <p align="center">Formerly known as the Delhi College of Engineering (under Delhi University), Delhi Technological University is India's leading institutes for technical
          education and research. Established in 1941, Delhi Technological University has grown to become a pioneer in the field of research and innovation right down
          to the undergraduate levels. It is also considered to be the mother institute of Indian Institute of Technology, Delhi and the Netaji
          Subhash Institute of Technology. It is known for its culture of incubating Mechanica Tech Teams.
          Team Raftaar is one of the most successful teams at DTU.</p>
      </div>
      <div class="col-md-4 ab">
        <h1>Team Raftaar</h1>
        <p align="center">We are a team of undergraduate students of Delhi Technological University ( Formerly DCE ) who have taken up the challenge to design and develop a Human Powered Vehicle (HPV) for the ASME HPVC - 2017. We are the only HPV team that has represented India in ASME WEST, held in California, USA (2016).
          With an improved design and better equipment we already are on the driver's seat to lay benchmarks at Indian and International events.
          Our vehicle supports green energy and is capable of blending into our lifestyles. In the coming years, this HPV concept could really be a profitable venture.
        </p>
      </div>

    <!--<%= image_tag 'freechildcare.png', :class => "img-responsive center-block"%>-->
  <p align="center">
    <a href="https://www.paypal.me/krishangupta" target="_blank"><button type="button" class="don btn btn-warning">DONATE</button></a>
  </p>

  </div>
</div>


  
