<% provide(:title, "About") %>
<div style="margin-bottom:10px">
<%= image_tag 'about.png', :class => "img-responsive center-block" %>
</div>
<div class="container">
  <div class=".center">
    <p style="text-align:center">
    <br />
    <br />
    We are a day care facility in Philadelphia, PA that fosters nutrition and the importance of a holistic diet. We work with parents to becoming better role models for their children as well as deliver assessments on each individual child to update parents on the progress of their well being. Your child will stay engaged through a variety of programs centered around exercising for a better tomorrow, reading is cool and understanding the value of potential.
    <br/>
    <br/>
    <%= image_tag 'freechildcare.png', :class => "img-responsive center-block"%>
    </p>
  </div>
</div>
  
  
