<% provide(:title, "Contact") %>
    <h1>Contact</h1>
  <body>
    <div class="container break-word">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3053.156634405398!2d-75.16032404967812!3d40.071918084361734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6b9fc508fcd0b%3A0xacb7beba5ad38022!2s7800+Ogontz+Ave%2C+Philadelphia%2C+PA+19150!5e0!3m2!1sen!2sus!4v1473823288129" width="600" height="450" frameborder="0" style="border:0" allowfullscreen align="left"></iframe> 
     <contact class="contact" align="right">
      &nbsp;&nbsp;<b>Tel:</b> (267) 343-2365<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(215) 254-4267<br/>
      <br/>
      &nbsp;&nbsp;<b>Email:</b> <a href="mailto:info@playfulmindsacademy.com">info@playfulmindsacademy.com</a>
      <br/>
      <br/>
      &nbsp;&nbsp;<b>Address:</b><br/>
      &nbsp;&nbsp;7800 Ogontz Ave.<br/>
      &nbsp;&nbsp;Philadelphia, PA 19150
    </contact>
    <br/><img alt: "kids pic" src="/assetskidspic.jpg" style="max-width:100%">
    </div>
  </body>
