<% provide(:title, "Contact") %>
  <h1>Contact Us</h1>
  <body>
    <div class="container" style="background-color:#99c5f6">
      <div class="col-md-12" style="margin:8px">
        <contact class="contact">
        <b>Tel:</b>
        <a href="tel:267-343-2365">267-343-2365</a></br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="tel:215-254-4267">215-254-4267</a></br>
        <br/>
        <b>Email:</b> <a href="mailto:info@playfulmindsacademy.com">info@playfulmindsacademy.com</a>
        <br/>
        <br/>
        <b>Address:</b><br/>
        7800 Ogontz Ave.<br/>
        Philadelphia, PA 19150
        </contact>
      </div>
    </div>
  </body>
