<div class="center jumbotron">
  <h1 style="color:black">&nbsp;</h1>
  <h2 style="color:white">&nbsp;&nbsp;</h2>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>



  <%= link_to 'Contact Us', contact_path, :class => "cont btn btn-primary btn-lg"%>
</div>

<!--<div class="container" style="background-color:#99c5f6">
  <div class="col-md-12">
  <br/>
    <h1 style="color:black"><b>Our Programs</b></h1> <br/>
    <div class="pull-left"><img class="img-responsive" alt: "crayons pic" src="/assets/crayons.png" id="homepic"></div>
    <div class="pull-left"><h2 style="color:white">Your Infant's Developmental Area</h2>
    <ul>
      <li>Creative Expression</li>
      <li>Cognitive Development</li>
      <li>Physical Development and Wellness</li>
      <li>Soical and Emotional Development</li>
      <li>Executive Function</li>
      <li>Language and Literacy Development</li>
    </ul>
  
    <h2 style="color:white">Your Toddler's Developmental Area</h2>
    <ul>
      <li>Language and Literacy Development</li>
      <li>Executive Function</li>
      <li>Social and Emotional Development</li>
      <li>Physical Development and Wellness</li>
      <li>Cognitive Development</li>
      <li>Creative Expression</li>
    </ul>
  </div>
</div>
</div>-->


  <div class="col-md-12 tl">
  <div class="page-header">
    <h1 id="timeline">Timeline</h1>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="fa fa-trophy" aria-hidden="true"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">2017 - HPVC Asia Pacific</h4>
          <!--<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>-->
        </div>
        <div class="timeline-body">
          <p><ul type="disc"><li>1st Rank overall, HPVC-Asia Pacific</li></ul> </p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="fa fa-star" aria-hidden="true"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">2017 - HPVC Asia Pacific </h4>
        </div>
        <div class="timeline-body">
          <p><ul type="disc">
          <li>1st in Design</li>
          <li>1st in Men's Speed Event</li>
          <li>1st in Women's Speed Event</li>
        </ul></p>
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-badge danger"><i class="fa fa-car" aria-hidden="true"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">MACH4</h4>
        </div>
        <div class="timeline-body">
          <p><ul type="disc">
          <li>Human Powered Vehicle for 2017</li>
        </ul></p>
        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="fa fa-star" aria-hidden="true"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">2016 - HPVC West</h4>
        </div>
        <div class="timeline-body">
          <p><ul type="disc">
          <li>First Indian Team to participate in HPVC West.</li>
          <li>Rank 12th in Design Event.</li>
        </ul> </p>

        </div>
      </div>
    </li>

    <li>
      <div class="timeline-badge success"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">HPVC WEST,California,U.S.A</h4>
        </div>
        <div class="timeline-body">
          <p><ul type="disc">
          <li>Only Team from India to participate.</li>
        </ul></p>
        </div>
      </div>
    </li>


    <li class="timeline-inverted">
      <div class="timeline-badge danger"><i class="fa fa-car" aria-hidden="true"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">PEGASUS</h4>
        </div>
        <div class="timeline-body">
          <p><ul type="disc">
          <li>Human Powered Vehicle for 2016</li>
        </ul></p>
        </div>
      </div>
    </li>


    <li>
      <div class="timeline-badge"><i class="fa fa-trophy" aria-hidden="true"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">2015 ASME - HPVC India</h4>
          <!--<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>-->
        </div>
        <div class="timeline-body">
          <p><ul type="disc"><li>Secured 1st Position Overall.</li></ul> </p>
        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="fa fa-star" aria-hidden="true"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">2015 ASME - HPVC India</h4>
        </div>
        <div class="timeline-body">
          <p><ul type="disc">
          <li>1st in the Design Event.</li>
          <li>Clocked the fastest time in sprint race.</li>
        </ul> </p>

        </div>
      </div>
    </li>

    <li>
      <div class="timeline-badge danger"><i class="fa fa-car" aria-hidden="true"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">NIMBUS</h4>
        </div>
        <div class="timeline-body">
          <p><ul type="disc">
          <li>Human Powered Vehicle for 2015</li>
          <li>Fastest HPV in India.</li>
          <li>Top speed of 67 kmph.</li>
        </ul></p>
        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="fa fa-star" aria-hidden="true"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">2014 HPVC India</h4>
        </div>
        <div class="timeline-body">
          <p><ul type="disc">
          <li>Debut at IIT-Delhi.</li>

        </ul> </p>

        </div>
      </div>
    </li>

    <li >
      <div class="timeline-badge danger"><i class="fa fa-car" aria-hidden="true"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">VECHICLE - I</h4>
        </div>
        <div class="timeline-body">
          <p><ul type="disc">
          <li>Human Powered Vehicle for 2014</li>
        </ul></p>
        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge info"><i class="fa fa-leaf" aria-hidden="true"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">ESTABLISHED</h4>
        </div>
        <div class="timeline-body">
          <p><ul type="disc">
          <li>Team Raftaar DTU founded at DTU in 2014.</li>
        </ul></p>
        </div>
      </div>
    </li>

  </ul>
  </div>






