<div class="center jumbotron">
  <h1>Welcome to Playful Minds Academy</h1>

  <h2>
    This is the home page for the Playful Minds Academy!
  </h2>

  <!--<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %></div> -->

<%= link_to image_tag("logo.png", alt: "Site logo")%>
