<div class="center jumbotron">
  <h1 style="color:white">WELCOME TO THE PLAYFUL MINDS ACADEMY</h1>
</div>

<div class="container">
  <br/>
  <br/>
  <br/>
  <br/>
  <h1 style="text-align:left"><b>Our Programs</b></h1> <br/>
  <img class="img-responsive" alt: "crayons pic" src="/assets/crayons.png" style="border:5px solid purple" style="max-width:100%" style="padding-top:5px" style="align:right">
  <br/>
  <h2 style="text-align:left">Your Infant's Developmental Area</h2>
  <ul>
    <li>Creative Expression</li>
    <li>Cognitive Development</li>
    <li>Physical Development and Wellness</li>
    <li>Soical anf Emotional Developmet</li>
    <li>Executive Function</li>
    <li>Language and Literacy Development</li>
  </ul>
  
  <h2 style="text-align:left">Your Toddler's Developmental Area</h2>
  <ul>
    <li>Language and Literacy Development</li>
    <li>Executive Function</li>
    <li>Social and Emotional Development</li>
    <li>Physical Development and Wellness</li>
    <li>Cognitive Development</li>
    <li>Creative Expression</li>
  </ul>
</div>


