<footer class="footer" style="padding:10px">
  <small>
  </small>
  <nav>
    <ul class="fooul"  style="font-size:13px">
      <a><u><b>Created and Curated by :</b></u></a></br>SUVIGYA NIJHAWAN<a href="https://github.com/suvi7896" target="_blank">
        <i class="fa fa-github fa-2x socic" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/suvigya-nijhawan-62330aa7/" target="_blank">
        <i class="fa fa-linkedin-square fa-2x socic" aria-hidden="true">
         </i></a>

        <br />
        SONAM TSHERING &nbsp;
      <a href="https://github.com/sonamtshering1328" target="_blank">
        <i class="fa fa-github fa-2x socic" aria-hidden="true"></i></a>


      <br />



      <p style="font-size: 11px;">


        For Website Enquiries,<br />
        Please Contact :<br/>

        <a href="mailto:suvigyanijhawan@dtu.ac.in">suvigyanijhawan@dtu.ac.in</a>
        <br />
        <a href="mailto:sonamtshering@dtu.ac.in">sonamtshering@dtu.ac.in</a>

      </p>



      <p style="font-size: 12px;">© 2017 All rights reserved - Team Raftaar DTU</p>


      </li>


    </ul>


    <ul class="footul" style="font-size:14px">
      <li class="footli"><a><u><b>Connect with us at :</b></u></a> <br /> <a href="https://facebook.com/RaftaarDTU" target="_blank">
       <p align="center">
        <i class="fa fa-facebook-square fa-5x socic" aria-hidden="true">
        </i></a></li></p>

    </ul>
  <p align="left" style="font-size:12px">
    <u><b>OUR ADDRESS</b></u>
    <br/>
    <br />
    Turbo M/C Laboratory<br />
    WIND TUNNEL<br />
    DELHI TECHNOLOGICAL UNIVERSITY<br/>
    SHAHBAD DAULATPUR, BAWANA ROAD,DELHI-110042<br/>
    <br />
    <a href="mob:+91-9911183431">Aradhya Shandilya - +91 - 99111 83431</a></br>
    <a href="mob:+91-9718138011">Akash Agrawal - +91 - 97181 38011</a>
  </p>
</nav>
</footer>
