<footer class="footer" style="padding:10px">
  <small>
  </small>
  <nav>
    <ul style="font-size:12px">
      <li><u><b>HOURS OF OPERATION</b></u></br>Mon - Fri: 7AM - 6PM</li>
    </ul>
     <ul style="font-size:14px">
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  <p align="left" style="font-size:12px">
    <u><b>OUR ADDRESS</b></u>
    <br/>
    7800 Ogontz Avenue<br/>
    Philadelphia, PA 19150<br/>
    <a href="tel:267-343-2365">267-343-235</a></br>
    <a href="tel:215-254-4267">215-254-4267</a>
  </p>
</nav>
</footer>
