<footer class="footer" style="padding:10px">
  <small>
  </small>
  <nav>
    <ul style="font-size:12px">
      <li><u><b>HOURS OF OPERATION</b></u></br>Mon - Fri: 7AM - 6PM</li>
    </ul>
     <ul style="font-size:14px">
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  <p align="left" style="font-size:12px">
    <u><b>OUR ADDRESS</b></u>
    <br/>
    DELHI TECHNOLOGICAL UNIVERSITY<br/>
    SHAHBAD DAULATPUR, BAWANA ROAD,DELHI-110042<br/>
    <a href="tel:+91-9582545535">Wajid Ali Shah - +91-9582545535</a></br>
    <a href="tel:+91-9540612430">Krishan Gupta - +91-9540612430</a>
  </p>
</nav>
</footer>
